.content {
    margin: 60px 0px;
    margin-right: 10%;
    margin-left: 10%;
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 80%;
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    height: 1200px;
    background-color: #ffffff;
    }
    
