<div class="content">

    <body>
        <h1>O NAMA</h1>

        <p>Godine 1951. gospodin Ignac Turek je otvorio servis za popravak automobila. Širenjem poslovanja servis 1971.
            postaje ovlašteni servis za Volvo vozila i kao takav djeluje do 1992. U međuvremenu (1989. godine) postaje
            i ovlašteni servis za vozila Mercedes - Mercedes servis.</p>

        <p>Autoservis LSE je obiteljski servis, tako da odlaskom u mirovinu gospodina Ignaca Tureka 1987. godine posao
            preuzima njegov sin Daroslav Turek.</p>
        <p>2006. godine uz servisiranje Mercedes vozila polako počinje servisiranje ostalih njemačkih vozila. Prikuplja
            se sva potrebna aparatura i alat za servisiranje cijele game vozila te se dodatno školuje kako bi se
            popravci izvršavali maksimalno profesionalno.</p>
        <p>2010. godine gospodin Daroslav Turek odlazi u mirovinu, a njegov posao nastavlja njegova kći Irena Petir
            koja radi u servisu od 1989. godine i trenutno je jedina žena sa položenim majstorskim ispitom za
            autoservisera.</p>
        <p>Danas je servis smješten na adresi Adamičeva 1 u Zagrebu u prostoru od 173m², posjeduje 2 dizalice i još 3
            radna mjesta za servis vozila tako da se popravci obavljaju stručno i u najkraćem mogućem roku. Vršimo sve
            automehaničarske popravke i preglede vozila, autoelektričarske popravke, radimo kompjutorsku dijagnostiku,
            potpuni servis klima uređaja i nudimo vjerojatno najpovoljniju i najjeftiniju dezinfekciju vozila i
            putničke kabine ozonom.</p>
        <ul>
            <li>Kontakt: 095-355-8790</li>
            <li>Adresa: Adamičeva 1, Zagreb</li>
        </ul>

        <app-map></app-map>
    </body>
</div>