<!DOCTYPE html>
<html>
<head>
	<title>LSE Ovlašteni Servis</title>
</head>
<body>
	<header id="main-header">
		<div class="container">
            <img class="picture" src="assets/images/LSE.jpeg" alt=""/>
            <h1 class="text">LSE Ovlašteni Servis</h1>
            <img class="picture2" src="assets/images/Mercedes_Benz_logo.png" alt=""/> 
        </div>
    </header>

	<nav id="navbar">
        <div id="nav-container">
            <ul>
                <li><a routerLink="Pocetna">Početna</a></li>
                <li><a routerLink="Usluge">Usluge</a></li>
                <li><a routerLink="O-nama">O Nama</a></li>
                <li><a routerLink="Serviseri">Serviseri</a></li>
                <li><a routerLink="Kontakt">Kontakt</a></li>
                <li class="dropdown">
                    <a routerLink="racun" class="dropbtn">Račun</a>
                        <ul class="dropdown-content">
                            <li *ngFor="let option of getUserOptions()"><a [routerLink]="option.name" (click)='performOption(option.name)'>{{option.name}}</a></li>
                        </ul>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <router-outlet></router-outlet>
	</div>
</body>
<footer id="main-footer">
	<p>Copyright &copy; 2019 LittleSkillzExceptionz</p>
</footer>
</html>
