body {
    overflow: scroll;
    background-color: #f3f3f3;
}

h1 {
    margin-left: 40%;
    color: black;
    size: 12vh;
}

#serviseri {
    margin-left: 35%;
    height: 50%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

serviseri ul li{
    color: black;
}