h1 {
    text-align: left;
    color: black;
    size: 12vh;
}


#serviseri {
    box-sizing: border-box;
}

#mechanicFullName {
    font-weight: bold;
    margin-left: 5%;
}

#mechanicContact {
    margin-left: 8%;
}

#mechanicMail {
    margin-left: 8%;
}

ul {
    list-style-type: none;
}

serviseri ul li{
    color: black;
} 

.content {
    margin-left: 5%;
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 90%;
    height: 600px;
    background-color: #ffffff;
    }