*{
    box-sizing: border-box;
}


.background {

   border-radius: 5px;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: rgba(112, 228, 35, 0.83);
   color: black;
   height: 425px;

}

.column {
    float: left;
    width: 50%;
    padding: 20px;
    height: 50px;
}

.column img {
    margin-left: 20%;
    width: 600px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}