<div class="background">
  <div style="text-align: center">
       <h1> Kontaktirajte nas !</h1>
  </div> 
  <div class="row">
    <div class="column">
      <img src="assets/images/autoservis.jpeg" style="width: 100%" >
    </div>
    <div class="column" style="font-size: 50%;text-align: center">
      <h1>Adresa: Adamičeva 1, Zagreb</h1>
      <h1>Radno vrijeme: 7:00-18:00</h1>
      <h1>Telefon: 64-43-759</h1>
      <h1>Mobitel: 0996472810</h1>
      <h1>E-mail: autoservis.lse@gmail.com</h1>
    </div>
  </div>  
</div> 
