<div class="container">
  <div class="content">
    <h1> Kontaktirajte nas !</h1>
    <div class="row">
      <div class="column">
        <app-map></app-map>
      </div>
      <div class="column" style="font-size: 50%;text-align: left">
        <h3>Adresa: {{information.address}}</h3>
        <h3>Radno vrijeme: 7:00-18:00</h3>
        <h3>OIB: {{information.oib}}</h3>
        <h3>Mobitel: {{information.mobile}}</h3>
        <h4>E-mail: {{information.email}}</h4>
      </div>
    </div>
  </div>
</div>