<div class="container">
  <div class="content">
    <h1>Osobni podatci</h1>
    <div class="media">
      <img id="profile-img" class="img-thumbnail" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <div class="media-body">
        <div>
          <h4>Ime i prezime:</h4>
          <h3>{{owner.name}} {{owner.surname}}</h3>
        </div>
        <div>
          <h4>Email:</h4>
          <h3>{{owner.email}}</h3>
        </div>
        <div>
          <h4>Mobitel:</h4>
          <h3>{{owner.mobile}}</h3>
        </div>
      </div>
      <div id="bt">
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin" (click)="showEditAccount()">Uredi
          račun</button><br>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin" (click)="deleteAccount()">Izbriši
          račun</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isUser" class="container">
  <div class="content">
    <div class="row">
      <div class="col">
        <h1>Podatci o autima</h1>
      </div>
      <div class="col"><button id="add" type="submit" class="btn btn-primary mb-2" (click)="showForm()">Dodaj Auto</button></div>
      <div class="w-100"></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12" *ngFor="let car of cars">
        <div class="column-photo">
          <img src="..\assets\images\mercedes-car-icon-512.png" height="100" width="100">
        </div>
        <div class="column">
          <div>{{car.licensePlate}}</div>
          <div>model: {{car.model.name}}</div>
          <div>godina: {{car.year}}</div>
          <button class="btn btn-outline-dark" (click)="delCar(car.licensePlate)">Izbriši vozilo</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="formular" *ngIf="addForm">
  <form>
    <div>Registarska oznaka:</div>
    <input #licensePlate type="text" name="licensePlate" />
    <div>Model</div>
    <select #model name="model" id="model">
      <option *ngFor="let model of models" value="{{model.id}}">
        {{model.name}}
      </option>
    </select>
    <div>Godina</div>
    <input #year type="text" name="year" /><br><br>
    <!--  <input type="submit" value="Save"/> -->
    <button class="btn btn-outline-dark" (click)="addCar(licensePlate.value, model.value, year.value, owner.email)">Dodaj</button>
    <button class="btn btn-outline-dark" (click)="close()">Odustani</button>
  </form>
</div>

<div class="formular2" *ngIf="editAccountForm">
  <form>
    <div>Ime:</div>
    <input #ime type="text" name="ime" value="{{owner.name}}" />

    <div>Prezime:</div>
    <input #prezime type="text" name="prezime" value="{{owner.surname}}" />

    <div>Email:</div>
    <input #email type="text" name="email" value="{{owner.email}}" readonly />

    <div>Password:</div>
    <input #password type="password" name="password" />

    <div>Potvrdi password:</div>
    <input #confPassword type="password" name="confPassword" />

    <div>Broj telefona:</div>
    <input #mobitel type="text" name="mobitel" value="{{owner.mobile}}" />

    <div>OIB:</div>
    <input #oib type="text" name="oib" value="{{owner.oib}}" />

    <div id="btn">
      <button class="btn btn-outline-dark" (click)="editAccount(ime.value, prezime.value, email.value, oib.value, mobitel.value, password.value, confPassword.value)">Spremi</button>
      <button class="btn btn-outline-dark" (click)="closeEdit()">Odustani</button>
    </div>
  </form>
</div>