.content{
    margin: auto;
    background-color: #f8f9fa;
    border :2px solid #252525;
    border-radius: 8px;
    max-width: 600px;
}

h1{
    margin: 10px 10px;
    color: #000;
    font-size: 40px;
}

p{
    margin: 25px 25px;
}


label{

    text-align: right;
    font-size: 150%;
    clear: both;
    float:left;
    margin-right:15px;
    font-family: 'Oxygen', sans-serif; 
}

.main-center{
   margin-top: 30px;
   margin: 0 auto;
   max-width: 600px;
   padding: 10px 40px;
   background:#009edf;
   color: #FFF;
   text-shadow: none;
   border-radius: 8px;  


}

.header{

    color:white;
    font: arial;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    
}

.my-form{

   background-color: rgb(23, 45, 172);
}

.my-form label{

    display: block;
}

.my-form input[type="text"]{

    padding: 8px;
    width: 20%;
}

.form-group{

    margin-bottom: 15px;
   
   
}



.button{

    width: auto;
    padding: 10px 15px;
    border-radius: 4px;
}



i {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}