<body>
    <p class="header">Registracija</p>
    <p>NAPOMENA!! Potrebno ispuniti sve </p>
  <form class="my-form">
    <div class="form-group">
          <label>Ime: </label>
          <input type="text" name="Ime">
    </div>
    <div class="form-group">
        <label>Prezime: </label>
        <input type="text" name="Prezime">
    </div>
    <div class="form-group">
      <label>Korisničko ime: </label>
      <input type="text" name="Korisničko ime">
    </div>
    <div class="form-group">
      <label>Lozinka: </label>
      <input type="text" name="Lozinka">
    </div>
    <div class="form-group">
        <label>Broj mobitela: </label>
        <input type="text" name="Broj mobitela">
    </div>
    <div class="form-group">
        <label>OIB: </label>
        <input type="text" name="OIB">
    </div>
    <div class="form-group">
        <label>E-mail: </label>
        <input type="text" name="E-mail">
    </div>
    <div class="form-group">
      <input class="button" type="submit" value="Registriraj se">
    </div>
  </form>
</body>
