/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body{
    background-image:url("assets/images/img1.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: auto;
    background-position: center top; 
}

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop.in {
    opacity: 0.5;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #252525;
    color: white;
 }

 .row.footer{
    margin-top:25px;
}

 .images img{
    height:30px;
    padding: 4px;
}