<div class="container">
  <div class="content">
    <h1>Osobni podatci</h1>
    <div class="media">
      <img id="profile-img" class="img-thumbnail" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <div class="media-body">
        <div>
          <h4>Ime i prezime:</h4>
          <h3>{{mech.name}} {{mech.surname}}</h3>
        </div>
        <div>
          <h4>Email:</h4>
          <h3>{{mech.email}}</h3>
        </div>
        <div>
          <h4>Mobitel:</h4>
          <h3>{{mech.mobile}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1>Današnji servisi</h1>
    <ul>
      <li *ngFor="let app of appointments; let i = index">
        {{i}} {{app.date}} <br>
        {{app.service}}
      </li>
    </ul>
  </div>
</div>