<div class="container">
  <div class="content">
    <h1>Osobni podatci</h1>
    <div class="media">
      <img id="profile-img" class="img-thumbnail" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <div class="media-body">
        <div>
          <h4>Ime i prezime:</h4>
          <h3>{{mech.name}} {{mech.surname}}</h3>
        </div>
        <div>
          <h4>Email:</h4>
          <h3>{{mech.email}}</h3>
        </div>
        <div>
          <h4>Mobitel:</h4>
          <h3>{{mech.mobile}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1>Današnji servisi</h1>
    <div class="row ">
      <div class="col-md-4 col-sm-12" *ngFor="let app of appointments">
        {{app.date}} <br>
        {{app.service.name}} <br>
        <button type="button" class="btn btn-lg btn-primary btn-block btn-signin" data-toggle="modal" data-target="#myModal">Pregledaj prijavu</button><br>
        <a href="/appointment/pdf/{{app.id}}">Generiraj obrazac</a>
      </div>
    </div>
  </div>
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm" >
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

