<div class="container">
  <div class="content">
    <h1>Osobni podatci</h1>
    <div class="media">
      <img id="profile-img" class="img-thumbnail" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <div class="media-body">
        <div>
          <h4>Ime i prezime:</h4>
          <h3>{{mech.name}} {{mech.surname}}</h3>
        </div>
        <div>
          <h4>Email:</h4>
          <h3>{{mech.email}}</h3>
        </div>
        <div>
          <h4>Mobitel:</h4>
          <h3>{{mech.mobile}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <h1>Današnji servisi</h1>
    <div class="row ">
      <div class="col-md-12 col-sm-12" *ngFor="let app of appointments">
        {{app.date}} :  {{app.service.name}}
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content,app)">Pregledaj prijavu</button>
        <a href="/appointment/pdf/{{app.id}}">Generiraj obrazac</a>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Uredi prijavu</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{selectedAppointment.date}}</p>
        <p>{{selectedAppointment.vehicle.licensePlate}}</p>
        <p>{{selectedAppointment.service.name}}</p>
        <p>Opis problema:</p>
        <div class="form-group">
            <textarea #desc type="text" class="col-8 form-control" name="problem">{{selectedAppointment.description}}</textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-light" (click)="editApp(desc.value, selectedAppointment.id)">Spremi</button>
      </div>
    </ng-template>
</div>