.content{
    margin: 50px 0;
    background-color: #f8f9fa;
    border :2px solid #252525;
    border-radius: 8px;
}

@media (max-width: 991px) {
    .content {
        margin: 20px 0;
    }
    .h1{
        margin: 10px 10px;
        color: #000;
        font-size: 30px;
    }
}

.row{
    margin: 10px 10px;
}

h1{
    margin: 10px 10px;
    color: #000;
    font-size: 40px;
}

p{
    margin: 10px 25px;
    font-size: 17px;
}

.form-group{
    margin: 10px 25px;
}

.media {
    margin: 20px 0;
}

.media #profile-img {
    margin-left: 5%;
    border-radius: 50%;
}

.media-body {
    position: relative;
    margin-left: 5%;
}