#showcase h1{
    background-color: white; 
	color:black;
	font-size:50px;
	line-height: 1.6em;
    padding-top:0;
    
}

#main{
    background-color: #f3f3f3; 
	float:left;
	width:70%;
	padding:0 30px;
    box-sizing: border-box;
    height:25%;
}

#sidebar{
    background-color: #f3f3f3; 
	float:right;
    width:30%;
    height:25%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

aside p {
    margin: 0;
}

.button {
  width: 100%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

button a{
    color: black;
    text-decoration:none; 
    width: 100%;
}