<body>
    <section id="showcase">
		<div class="container">
			<h1>Dobrodošli!</h1>
		</div>
    </section>

	<div class="container">
		<section id="main">
			<h1>Tko smo?</h1>
			<p>Autokuća LSE ovlašteni je servisni partner za  Mercedes-Benz osobna, laka gospodarska i teretna vozila.
                Uz redovno održavanje i popravak Mercedes-Benz vozila, pružamo uslugu popravaka karoserije vozila i lakiranja prema izvidima šteta svih osiguravajućih kuća u RH za fizičke i pravne osobe.
            </p>
		</section>
		<aside *ngIf="getUserType()==='guest'" id="sidebar">
            <p>Imate račun? Ne zaboravite se prijaviti!</p>
            <button class="button button1"><a routerLink="login">PRIJAVITE SE</a></button>
            <br><br>
            <p>Nemate račun? Kliknite gumb kako biste se registrirali!</p>
            <button class="button button2"><a routerLink="register">REGISTRIRAJTE SE</a></button>
		</aside>
	</div>
</body>
