<div class='container'>
  <div class="row">
    <div class = "col-md-6 text-center">
      <div class="time-all">
        <span class="icon"><i class="fa fa-calendar"></i></span>
        <button class="btn btn-lg btn-primary btn-block btn-signin btn-position" type="submit">Odaberi termin</button>
      </div> 
    </div>
    <div class = "col-md-6 text-center">
      <div class="time-all">
        <span class="icon"><i class="fa fa-users"></i></span>
        <button class="btn btn-lg btn-primary btn-block btn-signin btn-position" type="submit">Odaberi servisera</button>  
      </div>
    </div>
  </div>
</div>