h1 {
    text-align: left;
    color: black;
    size: 12vh;
}

#usluge {
    margin-left: 5%;
    height: 50%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

usluge ul li{
    color: black;
}

.content {
    margin-left: 5%;
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 90%;
    height: 425px;
    background-color: #ffffff;
    }
    
/* Scrollbar styles
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px olivedrab;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
    background: yellowgreen; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 */